.category-menu {
    list-style: none;
    padding: 0 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: #aaa;
}

.category-menu-item {
    display: block;
}

.category-menu-item a {
    display: block;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
    background: #eee;
    text-decoration: none;
}

.category-menu-item .active {
    background: #55f;
    color: white;
}