.comment {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px dotted grey;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
    "body body actions"
    "author vote-score date";
}

.comment:last-child {
    border-bottom: none;
}

.comment__body {
    grid-area: body;
}

.comment__author {
    grid-area: author;
}

.comment__vote-score {
    grid-area: vote-score;
}

.comment__date {
    grid-area: date;
    text-align: right;
    margin-right: 1rem;
}

.comment__actions {
    grid-area: actions;
    text-align: right;
    margin-right: 1rem;
}

.comment__actions button {
    margin-right: 1rem;
}

.comment__actions button:last-child {
    margin-right: 0;
}