.post-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.post {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "title author"
    "score category";
    padding-bottom: 10px;
    border-bottom: 1px dotted grey;
    margin: 5px 0;
}

.post__title {
    grid-area: title;
}

.post__author {
    grid-area: author;
}

.post__vote-score {
    grid-area: score
}

.posts__category {
    grid-area: category;
}